.git
**/.next/**
**/.turbo
node_modules
apps/*/node_modules
packages/*/node_modules
**/dist
**/dist-ts
**/__generated__
.terraform-plugin-cache
.terraform-provider-mirror
.terraformrc.local
.env.local

!apps/*/.next/
!apps/*/.next/standalone/
!apps/*/.next/standalone/**
!apps/*/.next/static/
!apps/*/.next/static/**
