node_modules/
.turbo/
.next/
.env.local
.terraformrc.local
.terraform-plugin-cache/
.terraform-provider-mirror/
next-env.d.ts
generated/
__generated__/
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
dist-ts/
dist/
