# ==================================================
# NPM Registry
# ==================================================

registry=https://artifactory.internal.cba/artifactory/api/npm/dp-npm-new/
@cba-web-platform:registry=https://artifactory.internal.cba/artifactory/api/npm/dp-npm-new/
@biocatch:registry=https://artifactory.internal.cba/artifactory/api/npm/biocatch-js-sdk-remote/


# ==================================================
# Authentication
# ==================================================

//artifactory.internal.cba/artifactory/api/npm/:_auth = ${ARTIFACTORY_ENTERPRISE_NPM_AUTH}
always-auth = true


# ==================================================
# Lumen Registry
# ==================================================

@lumen:registry=https://artifactory.internal.cba/artifactory/api/npm/digitalchannels-lumen-npm/


# Download browsers from artifactory
PLAYWRIGHT_DOWNLOAD_HOST=https://artifactory.internal.cba/net.azureedge.playwright